main{
    display: flex;
    height: 100vh;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color:#F5F5F5 ;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background: #0078B2;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}