main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 10px;
    min-height: 84vh;
    background-color: #F9FAFB;
    row-gap: 20px;
}
