<main>
    <h2>Upload a pic to see it in your gallery</h2>
    <section class="step-name">
        <p>Step 1: Pic information</p>
    </section>
    <section class="progress">
        <div class="segment"></div>
        <div class="segment"></div>
        <div class="segment"></div>
    </section>
    <section class="info">
        <label>
            Name of the pic
            <input type="text">
        </label>
        <label>
           Description
            <input type="text">
        </label>
        <section class="info-sub">
            <label class="sub-label">
                Date of the pic
                <input type="date">
            </label>
            <label class="sub-label">
                Category
                <input type="text">
            </label>
        </section>
    </section>
    <input type="file" (change)="onFileSelected($event)">
    <button (click)="onUploadFile()">Subir archivo</button>    
</main>