<ng-template [ngIf]="step == 1">
    <main>
        <h2>Edit your picture here</h2>
        <section class="info">
            <label>
                Name of the pic
                <input type="text" [(ngModel)]="form.name" placeholder="Insert the name of your pic">
            </label>
            <label>
               Description
                <textarea type="text" [(ngModel)]="form.description"  placeholder="Insert the description of your pic"></textarea>
            </label>
            <section class="info-sub">
                <label class="sub-label">
                    Date of the pic
                    <input [(ngModel)]="form.date" type="date">
                </label>
                <label class="sub-label" for="categories">
                    Category
                    <select   [(ngModel)]="form.category" name="categories">
                        <option value="Home">Home</option>
                        <option value="Travels">Travels</option>
                        <option value="Nature">Nature</option>
                    </select>
                </label>
            </section>
        </section>
        <section class="form-footer-first">
            <button (click)="onSubmit()">Save changes</button>    
        </section>
    </main>
</ng-template>

